.container {
  height: 33rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cardTop {
  height: 25rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #D3D3D3;
  box-shadow: inset -4px -4px 7px rgba(255, 255, 255, 0.25), inset 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
}
.cardBot {
  height: 4rem;
  width: 22rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #D3D3D3;
  box-shadow: inset -4px -4px 7px rgba(255, 255, 255, 0.25), inset 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.image {
  display: grid;
  place-items: center;
}

.details {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.details h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.box {
  width: 3.2rem;
  height: 3.2rem;
  background: #D3D3D3;
  box-shadow: -4px -4px 7px rgba(255, 255, 255, 0.25), 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: grid;
  place-items: center;
  position: relative;
  border: none;
}

.remove {
  width: 1.5rem;
  height:0.3rem;
  background: #3d3d3d;
}

.add {
  width: 1.5rem;
  height:0.3rem;
  background: #3d3d3d;
  position: absolute;
}
.addv {
  width: 0.3rem;
  height: 1.5rem;
  background: #3d3d3d;
  position: absolute;
}