.navbar {
  width: 20rem;
  height: 4rem;
  background: #D3D3D3;
  box-shadow: -4px -4px 7px rgba(255, 255, 255, 0.25), 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 1rem;
  z-index: 1;
}
